<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to {{name}}</h2><!--this is text interpolation binding uisng {{name}} like this-->
    <div [innerText]="nrooms"></div> <!--this is property binding--> 
    <button (click)="toggle()">Toggle</button> <!--this is event bindiding property where "click" is event-->
    <br>
    <div *ngIf="rooms.availableRooms < 0"> <!--ngif usage-->
        Room List
    </div>
    
</body>
</html>
